<main>

    <form name="formulario" action="/cadastrar" method="post"
        class="card mx-auto w-full max-w-md bg-base-200 shadow-xl p-5 flex items-center justify-center">
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <label for="email" class="label-text">Qual é o seu E-mail?</label>
            </div>
            <input id="email" name="email" type="email" placeholder="Digite seu e-mail aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>
        <label class="form-control w-full max-w-xs border-t-2 mt-2">
            <div class="label">
                <label for="password" class="label-text">Crie uma senha</label>
            </div>
            <input id="password" name="password" type="password" placeholder="Digite sua senha aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <label for="passConfirm" class="label-text">Confirme sua senha</label>
            </div>
            <input id="passConfirm" name="passConfirm" type="password" placeholder="Digite novamente sua senha aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>

        <div class="mt-4 border-t-2 w-full flex flex-col items-center p-2">
            <button class="btn btn-neutral w-full" type="submit">Cadastrar</button>
        </div>

    </form>

</main>