<main>

    <h1>Sistema de Gerenciamento de Frotas</h1>

    <h2>O que deseja gerenciar?</h2>

    <div class="flex w-full">
        <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">Motoristas</div>
        <div class="divider divider-horizontal">OU</div>
        <div class="grid h-20 flex-grow card bg-base-300 rounded-box place-items-center">Veículos</div>
    </div>
</main>