<main>
    <div class="h-screen flex flex-col items-center justify-center">
        <div class="card wx-auto bg-base-100 shadow-xl p-5">
            <div class="card-title flex flex-col items-center mx-auto">
                <h2 class="card-title text-xl">Entrar</h2>
                <p class="text-base">Entre em seu usuário abaixo!</p>
            </div>
            <div class="card-body justify-center">
                <div class="flex items-center flex-col gap-2">
                    <label for="username" class="input input-bordered flex items-center gap-3 w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="w-4 h-4 opacity-70">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                        </svg>
                        <input id="username" name="username" type="text" class="grow" placeholder="Nome de usuário" />
                    </label>
                    <label for="password" class="input input-bordered flex items-center gap-3 w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="w-4 h-4 opacity-70">
                            <path fill-rule="evenodd"
                                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                                clip-rule="evenodd" />
                        </svg>
                        <input id="password" name="password" type="password" class="grow" placeholder="Informe sua senha aqui." />
                    </label>
                </div>
            </div>

            <div class="card-actions justify-center">
                <a href="/home" class="btn btn-neutral w-full" onclick="verificarAcesso()">Entrar</a>

                <div class="flex items-center flex-col border-t-2 w-full mt-4">
                    <p href="" class="text-sm mt-2">Não possui cadastro? Clique no botão abaixo!</p>
                    <a href="/cadastro" class="btn w-full">
                        Cadastrar
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>