<main class="container flex flex-col items-center mt-10">
    {{#if erros}}
    <div id="alertFailure" class="alert alert-error" role="alert">
        <button id="botaoAlertaFailure" type="button" data-dismiss-target="#alert" aria-label="Close">
            <svg class="w-3 h-3 btn btn-circle border-0 bg-transparent" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
        </button>
        <div class="text-sm font-medium">
            A operação falhou. Tente novamente!
        </div>

    </div>
    {{/if}}
    {{#if sucesso}}
    <div id="alertSuccess" class="alert alert-success" role="alert">
        <button id="botaoAlertaSuccess" type="button" data-dismiss-target="#alert" aria-label="Close">
            <svg class="w-3 h-3 btn btn-circle border-0 bg-transparent" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
        </button>
        <div class="text-sm font-medium">
            Operação realizada com sucesso!
        </div>

    </div>
    {{/if}}
    <div class="border rounded-box px-2 my-2 w-full bg-slate-300">
        <h1 class="text-xl font-bold my-4">Qual operação deseja realizar?</h1>
    </div>
    <ul class="menu bg-slate-300 w-full rounded-box">
        <li>
            <a href="/menuUtilizacao/getFormCadastroUtilizacao">
                <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Edit / Add_Plus">
                        <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="#000000" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                </svg>
                Adicionar Registro de Uso
            </a>
        </li>
        <li>
            <a href="#selectByDriverId" class="">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Buscar Registro de Uso Por Motorista
            </a>
            <div class="modal" role="dialog" id="selectByDriverId">
                <div class="modal-box">
                    <form action="/menuUtilizacao" method="get">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form action="/menuUtilizacao/getListar" method="post">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <label for="id" class="label-text">Qual é o id do motorista?</label>
                            </div>
                            <input id="id" name="id" type="text" placeholder="Digite o id aqui"
                                class="input input-bordered w-full max-w-xs" />
                        </label>
                        <div class="modal-action">
                            <button class="btn" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <a href="#selectByVehicleId" class="">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Buscar Registro de Uso Por Veículo
            </a>
            <div class="modal" role="dialog" id="selectByVehicleId">
                <div class="modal-box">
                    <form action="/menuUtilizacao" method="get">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form action="/menuUtilizacao/getListar" method="post">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <label for="id" class="label-text">Qual é o id do Veículo?</label>
                            </div>
                            <input id="id" name="id" type="text" placeholder="Digite o id aqui"
                                class="input input-bordered w-full max-w-xs" />
                        </label>
                        <div class="modal-action">
                            <button class="btn" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <a href="/menuUtilizacao/utilizacoes">
                <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 8H21M7 12H21M7 16H21M3 8H3.01M3 12H3.01M3 16H3.01" stroke="#000000" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Listar registros de uso cadastrados
            </a>
        </li>
        <li>
            <a href="#updateId" class="">
                <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.4721 16.7023C17.3398 18.2608 15.6831 19.3584 13.8064 19.7934C11.9297 20.2284 9.95909 19.9716 8.25656 19.0701C6.55404 18.1687 5.23397 16.6832 4.53889 14.8865C3.84381 13.0898 3.82039 11.1027 4.47295 9.29011C5.12551 7.47756 6.41021 5.96135 8.09103 5.02005C9.77184 4.07875 11.7359 3.77558 13.6223 4.16623C15.5087 4.55689 17.1908 5.61514 18.3596 7.14656C19.5283 8.67797 20.1052 10.5797 19.9842 12.5023M19.9842 12.5023L21.4842 11.0023M19.9842 12.5023L18.4842 11.0023"
                        stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 8V12L15 15" stroke="#000000" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                Atualizar registro de uso
            </a>
            <div class="modal" role="dialog" id="updateId">
                <div class="modal-box">
                    <form action="/menuUtilizacao" method="get">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form action="/menuUtilizacao/getFormAtualizacao" method="post">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <label for="id" class="label-text">Digite o id da utilização que deseja
                                    atualizar.</label>
                            </div>
                            <input id="id" name="id" type="text" placeholder="Digite o id aqui"
                                class="input input-bordered w-full max-w-xs" />
                        </label>
                        <div class="modal-action">
                            <button class="btn" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <a href="#deleteId" class="">
                <svg fill="#000000" class="h-5 w-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4,23H20a1,1,0,0,0,1-1V6a1,1,0,0,0-.293-.707l-4-4A1,1,0,0,0,16,1H4A1,1,0,0,0,3,2V22A1,1,0,0,0,4,23ZM5,3H15.586L19,6.414V21H5Zm10.207,7.207L13.414,12l1.793,1.793a1,1,0,1,1-1.414,1.414L12,13.414l-1.793,1.793a1,1,0,0,1-1.414-1.414L10.586,12,8.793,10.207a1,1,0,0,1,1.414-1.414L12,10.586l1.793-1.793a1,1,0,0,1,1.414,1.414Z" />
                </svg>
                Excluir registro de uso
            </a>
            <div class="modal" role="dialog" id="deleteId">
                <div class="modal-box">
                    <form action="/menuUtilizacao" method="get">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form action="/menuUtilizacao/excluirUtilizacao" method="post">
                        <label class="form-control w-full max-w-xs">
                            <div class="label">
                                <label for="ID" class="label-text">Digite o ID da utilização que deseja
                                    excluir.</label>
                            </div>
                            <input id="ID" name="ID" type="text" placeholder="Digite o ID aqui"
                                class="input input-bordered w-full max-w-xs" />
                        </label>
                        <div class="modal-action">
                            <button class="btn" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    <script src="/js/script.js"></script>
</main>