{{!-- Planejamento para o futuro --}}

<main>
    <div class="card mx-auto w-full h-screen max-w-md bg-base-100 shadow-xl p-5 flex items-center justify-center">
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <label for="cpf" class="label-text">Qual é o seu CPF?</label>
            </div>
            <input id="cpf" name="cpf" type="text" placeholder="Digite seu cpf aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <label for="name" class="label-text">Qual é o seu nome?</label>
            </div>
            <input id="name" name="name" type="text" placeholder="Digite seu nome aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <label for="username" class="label-text">Qual o seu usuário?</label>
            </div>
            <input id="username" name="username" type="text" placeholder="Digite seu nome de usuário aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>
        <label class="form-control w-full max-w-xs border-t-2 mt-2">
            <div class="label">
                <label for="password" class="label-text">Crie uma senha</label>
            </div>
            <input id="password" name="password" type="password" placeholder="Digite sua senha aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <label for="passConfirm" class="label-text">Confirme sua senha</label>
            </div>
            <input id="passConfirm" name="passConfirm" type="password" placeholder="Digite novamente sua senha aqui"
                class="input input-bordered w-full max-w-xs" />
        </label>

        <div class="mt-4 border-t-2 w-full flex flex-col items-center p-2">
            <button class="btn btn-neutral w-full" type="submit">Cadastrar</button>
        </div>

    </div>
</main>